/* 버튼 클래스 디자인 */
.btn1 {
    background-color: #f8f8f8;
    color: #888;
    border: 1px solid #e8e8e8;
    font-size: 1.125em;
    letter-spacing: 1px;
    padding: 0 10px;
    cursor: pointer;
    display: inline-block;
}
/* 버튼 눌렀을때 */
.btn1:hover {
    background: rgb(243, 9, 9);
    color: white;
}