button {
    border: 1px solid transparent;
    width: auto;
    height: 30px; 
    border-radius: 4px;
    font-size: 12px;
    padding: 0 8px;
}

/** button **/
.button--xs {
    font-size: 12px;
}

.button--sm {
    font-size: 14px;
}

.button--sl {
    font-size: 16px;
}

.button--l {
    font-size: 18px;
}

.button--xl {
    font-size: 20px;
}
/** button bold **/
.button--bold-xs {
    font-size: 12px;
    font-weight: bold;
}

.button--bold-sm {
    font-size: 14px;
    font-weight: bold;
}

.button--bold-sl {
    font-size: 16px;
    font-weight: bold;
}

.button--bold-l {
    font-size: 18px;
    font-weight: bold;
}

.button--bold-xl {
    font-size: 20px;
    font-weight: bold;
}

/** primary **/
.button--primary-xs {
    font-size: 12px;
    color: #000;
    background-color: #3de00733;
}

.button--primary-sm {
    font-size: 14px;
    color: #000;
    background-color: #3de00733;
}

.button--primary-sl {
    font-size: 16px;
    color: #000;
    background-color: #3de00733;
}

.button--primary-l {
    font-size: 18px;
    color: #000;
    background-color: #3de00733;
}

.button--primary-xl {
    font-size: 20px;
    color: #000;
    background-color: #3de00733;
}
/** primary-bold **/
.button--primary-bold-xs {
    font-size: 12px;
    color: #000;
    background-color: #3de00733;
    font-weight: bold;
}

.button--primary-bold-sm {
    font-size: 14px;
    color: #000;
    background-color: #3de00733;
    font-weight: bold;
}

.button--primary-bold-sl {
    font-size: 16px;
    color: #000;
    background-color: #3de00733;
    font-weight: bold;
}

.button--primary-bold-l {
    font-size: 18px;
    color: #000;
    background-color: #3de00733;
    font-weight: bold;
}

.button--primary-bold-xl {
    font-size: 20px;
    color: #000;
    background-color: #3de00733;
    font-weight: bold;
}

/** pink **/
.button--pink-xs {
    font-size: 12px;
    color: #000;
    background-color: #ff167e33;
}

.button--pink-sm {
    font-size: 14px;
    color: #000;
    background-color: #ff167e33;
}

.button--pink-sl {
    font-size: 16px;
    color: #000;
    background-color: #ff167e33;
}

.button--pink-l {
    font-size: 18px;
    color: #000;
    background-color: #ff167e33;
}

.button--pink-xl {
    font-size: 20px;
    color: #000;
    background-color: #ff167e33;
}
/** pink-bold **/
.button--pink-bold-xs {
    font-size: 12px;
    color: #000;
    background-color: #ff167e33;
    font-weight: bold;
}

.button--pink-bold-sm {
    font-size: 14px;
    color: #000;
    background-color: #ff167e33;
    font-weight: bold;
}

.button--pink-bold-sl {
    font-size: 16px;
    color: #000;
    background-color: #ff167e33;
    font-weight: bold;
}

.button--pink-bold-l {
    font-size: 18px;
    color: #000;
    background-color: #ff167e33;
    font-weight: bold;
}

.button--pink-bold-xl {
    font-size: 20px;
    color: #000;
    background-color: #ff167e33;
    font-weight: bold;
}
