a{
    text-decoration: none;
}
.board{
    border:1px solid #3de007;
}
.titlebox{
    width: 500px !important;
    white-space: nowrap;
    margin-bottom: 10px; 
}
.datebox{
    margin-bottom: 10px;
    width:300px !important;
}
.namebox{
    margin-bottom: 10px;
    width: 200px !important;
}
.contentbox{
    margin-bottom:10px;
    height:auto !important;
    min-height: 500px !important;
}
.commentbox{
    margin-bottom: 5px;
    min-height: 100px !important;
}
.form-label{
    font-size: 16px !important;
    font-weight: normal !important;
    font-weight: bold !important;
}
.menu a{
    cursor:pointer;
}
li{
    list-style: none !important;
}
text, textarea{
background-color: white !important;
}

.file_img{
	width: 320px;
}
.formGroupExampleInput2{
background-color: white !important;
}
.comment-min {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(450px - 1.5em);
}
