.pet-header {
    position: sticky;
    top: 0;
    max-width: 800px;
    width: 100%;
    z-index: 100;
}

.pet-header__logo {
    padding: 20px;
    justify-content: space-between;
}

.pet-header__join > :first-child {
    margin-right: 10px;
}

.pet-header__tabs {
    border-bottom: 1px #eee solid;
    justify-content: space-between;
}

.pet-header__tab {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.pet-header__tab.active {
    font-weight: bold;
    background: #3de00733;
}

.pet-header__tabs > .pet-header__tab:hover {
    background: #3de00733;
}
.logo{
    width:60px !important;
    height:60px !important;
}
.background--white{
	background: #fff;
}

.sweet-alert button {
    background-color: #8cd4f5;
    color: white;
    height: 40px;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}

#login_memberID{
	color :  #007bff;
}

