.pet-home__slider {
    justify-content: center;
}

.pet-home__slider > img {
    width: 100%;
}

.pet-home__title {
    justify-content: space-between;
    padding: 20px;
}

.pet-home__hospital, .pet-home__boast, .pet-home__qna, .pet-home__encyclopedia {
    margin-top: 20px;
    padding-bottom: 20px;
}

.pet-home__cards {
    padding: 0 20px;
    display: flex;
   /*  overflow: scroll; */
    overflow: hidden;
}

.pet-home__card {
    padding: 20px;
    height: 150px;
    min-width: 250px;
    border: 1px #eee solid;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #eee;
    justify-content: space-between;
}

.pet-home__card + .pet-home__card {
    margin-left: 10px;
}

.pet-home__card-distance {
    margin-right: 5px;
}

.pet-home__boards {
    flex-wrap: wrap;
    padding: 0 10px;
}

.pet-home__board {
    margin-bottom: 10px;
    width: 25%;
    padding: 0 5px;
    box-sizing: border-box;
}

.pet-home__board > img {
    border-radius: 15px;
}

.pet-home__board-title, .pet-home__board-description {
    margin-top: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
