.form-label{
    margin-left: 15px;
    font-size: 20px;
}
.excelbtn{
    height: auto;
    margin-right: 0;
}

.paging-div {
	padding: 15px 0 5px 10px;
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*데이터 피커*/
.ui-datepicker {
background-color: #fff;
margin-left: -35rem;
}

.ui-datepicker-header {
background-color: #3de007;
}

.ui-datepicker-title {
color: white;
}

.ui-widget-content .ui-state-default {
border: 0px;
text-align: center;
background: #fff;
font-weight: normal;
color: #000;
}

.ui-widget-content .ui-state-default:hover {
border: 0px;
text-align: center;
background: #3de00733;
font-weight: normal;
color: black;
}

.ui-widget-content .ui-state-active {
border: 0px;
background: #616eff;
color: #fff;
}

/* 페이징처리 */

.page1{
	text-align : center;
}

.pagination1{
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 20px;	
}

.pagination1 li{
	display : inline;
	text-align: center;
}

.pagination1 a{
	float:left;
	display:block;
	font-size:14px;
	text-decoration:none;
	padding: 5px 12px;
	color: #96a0ad;
	line-height:1.5;
}

.first1{
	margin-right: 15px;
}

.last1{
	margin-left:15px;
}

.first1:hover, .last1:hover, .left1:hover, .right1:hover{
	color: #2e9cdf;
}

.pagination1 a.active{
	cursor: default;
	color: #ffffff;
}

.modal1 .num1{
	margin-left:3px;
	padding:0;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 100%;
}

.modal1 .num1:hover{
	background-color: #2e9cdf;
	color: #ffffff;
}

.modal1 .num1.active, .modal1 .num1:active{
	background-color : #2e9cdf;
	cursor: pointer;
}

