
/* 버튼 클래스 디자인 */
.btn{

    background-color: #f8f8f8;
    color: #888;
    border: 1px solid #e8e8e8;
    font-size: 1.125em;
    letter-spacing: 1px;
    padding: 0px 10px;
    cursor: pointer;
    display: inline-block;
}
/* 버튼 눌렀을때 */
.btn:hover{
    background: rgb(243, 9, 9);
    color: white;
}

/* 총예약 현황 상자 */
.total_list{
    margin-top: 5rem;
}

div > label{
    font-size: large;
    margin-left: 3%;
}

table{
    margin-top: 1rem;
}

/* 부트스트랩 재정의 */
.table thead th {
    text-align: center;
}

.btngroup{
    text-align: center;
}

.btn{
    width:20%;
    margin-left:37%;
}

.btn:hover{
    border: white;
    background-color : green;
}

/* 엑셀 버튼 */

.w-btn {
    margin-left: 22rem;
    position: relative;
    border: none;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 500;
    transition: 0.25s;
}

.w-btn >img{
    width: 20px;
}


.table_box{
	margin: 5%;
    min-height: 40rem;
}

