.password-body {
    height: 40rem;

}

.password-body-form {
    width: 50%;
    margin-left: 200px;
    margin-top: 50px;
}

.shadow-lg {
    box-shadow: 0 0rem 0rem rgba(0,0,0,0)!important;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    height: 60px;
    background-color: #5EBB46;
}

.my-4 {
    font-size: 20px;
    margin-top: 0rem!important; 
    /* margin-bottom: 1.5rem!important; */
}

.email_send{
    margin-left: 0px;
    background-color: #3de00733;
    border: #3de00733;
    color : black;
    padding-top: 13px;
}

.email_send:hover{
    background-color: #3de007;
    border: #5EBB46;
} 

.password_back{
	width:100%;
	z-index:-1;
	margin-top: 40px;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
}

.singform_go {
	color: black;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    border: 1px solid #6c757d;
	border-radius: 20px;
}

