.getboard {
    margin: 20px auto auto;
    width: 750px;
}
.card{
    margin:10px 10px 10px 10px;
    width: 20rem;
}
.mainboard{
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: space-around !important;
}

.rowpoint{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    font-size: smaller !important;
}
.writer, .card-title{
    font-weight: bold;
}
.look{
    font-size: small;
    color: gray;
}
.date{
    color: gray !important;
    font-size: small;
}
.card-text{
    color: darkslategray;
}

.card-body{
	text-overflow: ellipsis;
    overflow: hidden;
 }
.badge-success{
	font-size: 20px !important; margin-bottom: 10px; width: 100%;
}
.show-im, .show-img{
height: 280px; max-width: 280px; margin-left: 20px; margin-top: 20px;
}
.look{
	margin-left: 230px;
}