.fontclass{
  color: #3de007;
}

textarea {
  height: 500px;
  width: 40rem;
}

.button_class{
  height: 40px;
  display: inline-block;
  padding: 6px 12px;
  margin: 15px;
  font-size: 14px;
  font-weight: normal;
  line-height: 2rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button_class:hover{
  background-color: #3de007;
  color: white;
}

.button_class_cancel{
    margin-left:34rem;
    background-color: transparent;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button_class_cancel:hover{
  background-color: red;
  color: white;
}

.outerBox{
  margin: 80px;
}
.sweet-alert button{
  height:45px !important;
}

.form-control {
    display: block;
    width: 40rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

 .form-control::-webkit-scrollbar {
    width: 10px;
  }
 .form-control::-webkit-scrollbar-thumb {
    background-color: #3de007;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
 .form-control::-webkit-scrollbar-track {
    background-color: #F2FFED;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
