/* 폰트 사이즈 20 */
.text--20-bold {
    font-size: 20px;
    font-weight: bold;
}

.text--20-normal {
    font-size: 20px;
    font-weight: normal;
}

.text--20-lighter {
    font-size: 20px;
    font-weight: lighter;
}

/* 폰트 사이즈 18 */
.text--18-bold {
    font-size: 18px;
    font-weight: bold;
}

.text--18-normal {
    font-size: 18px;
    font-weight: normal;
}

.text--18-lighter {
    font-size: 18px;
    font-weight: lighter;
}

/* 폰트 사이즈 16 */
.text--16-bold {
    font-size: 16px;
    font-weight: bold;
}

.text--16-normal {
    font-size: 16px;
    font-weight: normal;
}

.text--16-lighter {
    font-size: 16px;
    font-weight: lighter;
}

/* 폰트 사이즈 14 */
.text--14-bold {
    font-size: 14px;
    font-weight: bold;
}

.text--14-normal {
    font-size: 14px;
    font-weight: normal;
}

.text--14-lighter {
    font-size: 14px;
    font-weight: lighter;
}

/* 폰트 사이즈 12 */
.text--12-bold {
    font-size: 12px;
    font-weight: bold;
}

.text--12-normal {
    font-size: 12px;
    font-weight: normal;
}

.text--12-lighter {
    font-size: 12px;
    font-weight: lighter;
}
