.eidtor {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 20px;
    position: relative;
    max-width: 100%;
}

a{
    text-decoration: none;
}
.board{
    margin:auto;
    border:1px solid black;
    width: 750px;
    margin-top: 30px;
}

.contentbox{
    margin-bottom:10px;
    height:auto;
    min-height: 500px;
    white-space: pre-line !important;
}
#image_container {
	max-width: 200px;
}
.rewrite-row{
	display: flex; flex-direction: row;align-items: center;
}

.filebox label{
    width: 100px;
    display: inline-block;
    color: #fff;
    line-height: 45px;
    vertical-align: middle;
    background-color: #4a4a4a;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.filebox input[type="file"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.file_img{
	width: 320px;
	margin-left: 40px;
}
.form-label{
    display: flex;
    flex-direction: column;
}
.title_date_image{
    display: flex;
    flex-direction: row;
}
.rewrite-column{
	display: flex;flex-direction: column;
}
.qna-text, .show-text{
	max-width: 300px;
}
.show-row{
	display: flex; flex-direction: row;align-items: center;
}
.show-im{
	align-items: center;
}
.content{
	max-width: 650px;
}
#pet-layout {
	height: 100%;
	display: flex;
	flex-direction: column;
}
#form1 {
	flex: auto;
}
.eidtor {
	border: none !important;
}