
        <div class="board shadow p-3 mb-5 bg-body rounded">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">제목</label>
                <input
                    type="text"
                    class="titlebox form-control"
                    id="formGroupExampleInput"
                    placeholder=""disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">작성자</label>
                <input
                    type="text"
                    class="namebox form-control"
                    id="formGroupExampleInput2"
                    placeholder=""disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">날짜</label>
                <input
                    type="text"
                    class="datebox form-control"
                    id="formGroupExampleInput2"
                    placeholder=""disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">내용</label>
                <div class="form-floating">
                    <textarea class="contentbox form-control" placeholder="" id="floatingTextarea2"disabled></textarea>
                </div>
            </div>
            <hr>

            <a class="btn btn-success" href="./ency_boardList.html" role="button">목록으로</a>
        </div>