<div class="getboard">
    <ul class="list-group">

        <span class="badge badge-pill badge-success" style="font-size: 20px; margin-bottom: 10px;">동 물 백 과</span>
        <li class="list-group-item"onclick="location.href='./ency_board.html'">
            <div class="card mb-3" style="margin-top:10px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../../resources/img/동물백과1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">코끼리는 왜 코가 길까요?</h5>
                            <p class="card-text">코끼리는 코가 손이래 과자를 주면은 코로 받지요</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card mb-3" style="margin-top:10px;">
                <div class="row g-0">
                    <div class="imgbox col-md-4">
                        <img src="../../../../resources/img/동물백과2.jpg.crdownload"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">팬더는 왜 눈 주위가 검은 색일까요?</h5>
                            <p class="textbox card-text">애버랜드에 가면 팬더를 볼 수 있어요. 애버랜드가고싶다.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card mb-3" style="margin-top:10px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../../resources/img/동물백과3.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">기린은 왜 목이 길까요?</h5>
                            <p class="card-text">기린은 목이 길지요</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">이전</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">다음</a>
            </li>
        </ul>
    </nav>
</div>