<div class="getboard">
    <span
        class="badge badge-pill badge-success"
        style="font-size: 20px; margin-bottom: 10px;">동 물 백 과</span>
    <ul class="list-group">
        <div class="media">
            <div class="media-left">
                    <img
                        class="media-object"
                        data-src="holder.js/64x64"
                        alt="64x64"
                        src="../../../../resources/img/동물백과1.jpg"
                        data-holder-rendered="true"
                        style="width: 64px; height: 64px;"></a>
                </div>
                <div class="media-body" onclick="location.href='ency_Board.html'">
                    <h4 class="media-heading" id="top-aligned-media">코끼리아저씨는 코가 손이래<a class="anchorjs-link" href="#top-aligned-media">
                            <span class="anchorjs-icon"></span>
                        </a>
                    </h4>
                    <p class="content">코끼리아저씨는 코가 손이래 코끼리아저씨는 코가 손이래 코끼리아저씨는 코가 손이래 과자를 주면은 코로 받지요</p>
                    <p class="insertdate">작성일 :
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                        <img
                            class="media-object"
                            data-src="holder.js/64x64"
                            alt="64x64"
                            src="../../../../resources/img/동물백과3.jpg"
                            data-holder-rendered="true"
                            style="width: 64px; height: 64px;"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" id="top-aligned-media">Top aligned media<a class="anchorjs-link" href="#top-aligned-media">
                                <span class="anchorjs-icon"></span>
                            </a>
                        </h4>
                        <p class="content">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                            scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate
                            at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                            Donec lacinia congue felis in faucibus.</p>
                        <p class="insertdate">작성일 :
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                            <img
                                class="media-object"
                                data-src="holder.js/64x64"
                                alt="64x64"
                                src="../../../../resources/img/동물백과3.jpg"
                                data-holder-rendered="true"
                                style="width: 64px; height: 64px;"></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" id="top-aligned-media">Top aligned media<a class="anchorjs-link" href="#top-aligned-media">
                                    <span class="anchorjs-icon"></span>
                                </a>
                            </h4>
                            <p class="content">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate
                                at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                Donec lacinia congue felis in faucibus.</p>
                            <p class="insertdate">작성일 :
                            </p>
                        </div>
                    </div>
                </ul>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link">이전</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">다음</a>
                        </li>
                    </ul>
                </nav>
            </div>