<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <link href="../css/index.css" rel="stylesheet">
    <link href="../css/color.css" rel="stylesheet">
    <link href="../css/text.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <link href="../css/button.css" rel="stylesheet">
    <link href="../css/home.css" rel="stylesheet">
</head>

<body>
<div id="pet-layout" class="background--white">
    <!--헤더입니다.-->
    <header class="pet-header background--white">
        <div class="pet-header__logo row">
            <div class="text--18-bold color--primary">PETCARE</div>
            <div class="pet-header__join">
                <span class="text--14-normal">로그인</span>
                <span class="text--14-normal">회원가입</span>
            </div>
        </div>
        <div class="pet-header__tabs row">
            <a class="pet-header__tab text--16-normal color--black active" href="#">홈</a>
            <a class="pet-header__tab text--16-normal color--black" href="../hospital/hospital_detail.html">내주변 병원</a>
            <a class="pet-header__tab text--16-normal color--black" href="www.naver.com">자랑하기</a>
            <a class="pet-header__tab text--16-normal color--black" href="www.naver.com">QnA</a>
            <a class="pet-header__tab text--16-normal color--black" href="www.naver.com">동물백과</a>
            <a class="pet-header__tab text--16-normal color--black" href="www.naver.com">내정보</a>
        </div>
    </header>

    <div class="pet-body pet-home">
        <!--본문-->
        <div class="pet-body pet-home">
            <!-- 홈 최상단 슬라이더 -->
            <div class="pet-home__slider column">
                <img src="https://cdn.imweb.me/thumbnail/20220413/4a11551a2ff7f.jpg"/>
            </div>
            <!-- 홈 최상단 슬라이더 -->

            <!-- 우리 동네병원 💊 -->
            <div class="pet-home__hospital">
                <div class="pet-home__title row">
                    <div class="text--18-bold">우리 동네병원 💊</div>
                    <div class="text--14-normal center">더보기 ></div>
                </div>
                <div class="pet-home__cards">
                    <div class="pet-home__card column">
                        <div>
                            <div class="pet-home__card-title text--16-bold">스마트동물병원 성북길음점</div>
                            <div class="pet-home__card-info text--14-normal row">
                                <div class="pet-home__card-distance text--14-bold">853m</div>
                                <div class="pet-home__card-address color--gray"> | 서울시 성북구 정릉동</div>
                            </div>
                        </div>

                        <div class="pet-home__card-tel">
                            전화번호: <a href="tel:010-0000-000">010-0000-0000</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 우리 동네병원 💊 -->
            <hr>
            <!-- 우리 가족 이야기 🐶😺 -->
            <div class="pet-home__boast">
                <div class="pet-home__title row">
                    <div class="text--18-bold">우리 가족 이야기 🐶😺</div>
                    <div class="text--14-normal center">더보기 ></div>
                </div>
                <div class="pet-home__boards row">
                    <div class="pet-home__board column">
                        <img src="https://blog.kakaocdn.net/dn/bTEhUV/btqECug9iOs/mxgZUk4MLJVCK3xtcNe6NK/img.jpg"/>
                        <div class="pet-home__board-title text--16-bold">우리 쪼꼬 귀엽죠?</div>
                        <div class="pet-home__board-description text--14-normal">
                            우리 쪼꼬가 세상에서 제일 귀엽고 이쁘고, 사랑스럽고 동글동글해요 우리
                            쪼꼬가 세상에서 제일 귀엽고 이쁘고, 사랑스럽고 동글동글해요
                        </div>
                    </div>
                </div>
            </div>
            <!-- 우리 가족 이야기 🐶😺 -->
            <hr>
            <!-- 도움이 필요해요... 🥲 -->
            <div class="pet-home__qna">
                <div class="pet-home__title row">
                    <div class="text--18-bold">도움이 필요해요... 🥲</div>
                    <div class="text--14-normal center">더보기 ></div>
                </div>
                <div class="pet-home__boards row">
                    <div class="pet-home__board column">
                        <img src="https://blog.kakaocdn.net/dn/bTEhUV/btqECug9iOs/mxgZUk4MLJVCK3xtcNe6NK/img.jpg"/>
                        <div class="pet-home__board-title text--16-bold">우리 쪼꼬 귀엽죠?</div>
                        <div class="pet-home__board-description text--14-normal">
                            우리 쪼꼬가 세상에서 제일 귀엽고 이쁘고, 사랑스럽고 동글동글해요 우리
                            쪼꼬가 세상에서 제일 귀엽고 이쁘고, 사랑스럽고 동글동글해요
                        </div>
                    </div>
                </div>
            </div>
            <!-- 도움이 필요해요... 🥲 -->
            <hr>
            <!-- 지식 백과사전 📚 -->
            <div class="pet-home__encyclopedia">
                <div class="pet-home__title row">
                    <div class="text--18-bold">지식 백과사전 📚</div>
                    <div class="text--14-normal center">더보기 ></div>
                </div>
                <div class="pet-home__boards row">
                    <div class="pet-home__board column">
                        <img src="https://blog.kakaocdn.net/dn/bTEhUV/btqECug9iOs/mxgZUk4MLJVCK3xtcNe6NK/img.jpg"/>
                        <div class="pet-home__board-title text--16-bold">우리 쪼꼬 귀엽죠?</div>
                        <div class="pet-home__board-description text--14-normal">
                            우리 쪼꼬가 세상에서 제일 귀엽고 이쁘고, 사랑스럽고 동글동글해요 우리
                            쪼꼬가 세상에서 제일 귀엽고 이쁘고, 사랑스럽고 동글동글해요
                        </div>
                    </div>
                </div>
            </div>
            <!-- 지식 백과사전 📚 -->
            <footer>
                <div class="pet-footer">
                    <div>상호명 : 주식회사 PETCARE</div>
                    <div class="text--12-lighter">주식회사 PETCARE은 의료정보의 중개서비스 또는 의료정보중개시스템의 제공자로서, <br>의료정보의 당사자가 아니며,
                        의료정보와
                        관련된 의무와 책임은 각 의료기관에게 있습니다.
                    </div>
                    <div class="text--12-lighter">
                        © 2022 PetCare All right reserved
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>

</html>
