<div class="pet-hospital__infos pet-row">
    <div id="map"></div>
    <div class="pet-hospital__info pet-column">
        <div>
            <button type="button" class="button--sl" onclick="findAddr()">주소</button>
            <button type="button" class="button--sl" onclick="currentLocation()">현재위치</button>
            <button type="button" class="button--sl">진료중</button>
            <button type="button" class="button--sl">예약가능</button>
        </div>
        <input id="input_address" type="text" placeholder="주소" readonly style="margin-top: 10px;"> <br>

        <div class="pet-hospital__list-title text--20-bold  background--blue color--white">병원리스트</div>
        <div class="pet-hospital__list" id="pet-hospital__list"></div>
    </div>
</div>

<script src="../../../../resources/js/user/hospital.js"></script>
