<div class="pet-hospital-detail__title text--20-bold" id="title"></div>
<div class="pet-hospital-detail__infos pet-row">
    <div id="map" style="width:100%;height:300px;"></div>
    <div class="pet-hospital-detail__info-text" id="infos"></div>
</div>

<div class="pet-hospital-detail__reviews">
    <div class="comment">
        <!--리뷰 추가-->
        <table class="table">
            <thead>
            <tr>
                <th scope="col" colspan="2" class="color-gray">REVIEW</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>홍길동</td>
                <td class="sb-sidenav-collapse-arrow" style="width: 450px;">
                    가나다라마바사아자차카파타하가나다라마바사아자차카파타하가나다라마바사아자차카파타하
                </td>
                <td>22-04-20 17:58</td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>손오공</td>
                <td class="sb-sidenav-collapse-arrow" style="width: 450px;">
                    댓글테스트2
                </td>
                <td>22-04-20 18:00</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>사오정</td>
                <td class="sb-sidenav-collapse-arrow" style="width: 450px;">
                    댓글테스트3
                </td>
                <td>22-04-20 18:03</td>

            </tr>
            </tbody>

        </table>
    </div>
    <hr>
</div>

<script src="../../../../resources/js/user/hospital_detail.js"></script>
