<div class="myreservation_body">

    <h2 style="margin-left:20px; padding-top: 20px;">내 예약 목록</h2>
    <table class="table table-bordered" style="margin-top: 20px;">
        <thead>
            <tr class="table-success">
                <th scope="col">번호</th>
                <th scope="col">병원명</th>
                <th scope="col">반려동물 이름</th>
                <th scope="col">날짜</th>
                <th scope="col">시간</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>멍멍이 동물병원</td>
                <td>구름이</td>
                <td>22-04-25</td>
                <td>
                    <select class="form-select form-select-sm">
                        <option value="오전 9시">오전 9시</option>
                        <option value="오전 10시">오전 10시</option>
                        <option value="오전 11시">오전 11시</option>
                        <option value="오후 1시">오후 1시</option>
                        <option value="오후 2시">오후 2시</option>
                        <option value="오후 3시">오후 3시</option>
                        <option value="오후 4시">오후 4시</option>
                        <option value="오후 5시">오후 5시</option>
                        <option value="오후 6시">오후 6시</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn-success btn-sm" onclick="deleteRowFunction(this)">예약 수정</button>
                    <button type="button" class="btn-danger btn-sm" onclick="deleteRowFunction(this)">예약 취소</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>종합 동물병원</td>
                <td>야옹이</td>
                <td>22-04-26</td>
                <td>
                    <select class="form-select form-select-sm">
                        <option value="오전 9시">오전 9시</option>
                        <option value="오전 10시">오전 10시</option>
                        <option value="오전 11시">오전 11시</option>
                        <option value="오후 1시">오후 1시</option>
                        <option value="오후 2시">오후 2시</option>
                        <option value="오후 3시">오후 3시</option>
                        <option value="오후 4시">오후 4시</option>
                        <option value="오후 5시">오후 5시</option>
                        <option value="오후 6시">오후 6시</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn-success btn-sm" onclick="deleteRowFunction(this)">예약 수정</button>
                    <button type="button" class="btn-danger btn-sm" onclick="deleteRowFunction(this)">예약 취소</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>야옹이 동물병원</td>
                <td>멍멍이</td>
                <td>22-04-27</td>
                <td>
                    <select class="form-select form-select-sm">
                        <option value="오전 9시">오전 9시</option>
                        <option value="오전 10시">오전 10시</option>
                        <option value="오전 11시">오전 11시</option>
                        <option value="오후 1시">오후 1시</option>
                        <option value="오후 2시">오후 2시</option>
                        <option value="오후 3시">오후 3시</option>
                        <option value="오후 4시">오후 4시</option>
                        <option value="오후 5시">오후 5시</option>
                        <option value="오후 6시">오후 6시</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn-success btn-sm" onclick="deleteRowFunction(this)">예약 수정</button>
                    <button type="button" class="btn-danger btn-sm" onclick="deleteRowFunction(this)">예약 취소</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>