<div class="pet-body pet-home">
    <!-- 홈 최상단 슬라이더 -->
    <section name="f">
        <div class="join-user" style="align-items: center">

            <!--비밀번호-->
            <div class="join-user__items">
                <label>현재 비밀번호를 입력해주세요.</label>
                <input id="user_password" type="password" maxlength="15" placeholder="비밀번호를 입력하세요"
                    oninput="onInputInvalid('password')">
                <span class="error_next_box" id="error_password" aria-live="assertive"></span>
            </div>

            <!--완료-->
            <div class="join-user__items">
                <div class="join-user__items--row" style="justify-content: space-between">
                    <button class="buttonOk button_class" onClick="location.href='userupdate.html'">확인</button>
                    <button class="buttonOk button_class" onClick="location.href='home.html'">취소</button>
                </div>
            </div>
        </div>
    </section>
</div>



<!-- <script type="application/javascript" src="../../../../resources/js/user/user_joinUser.js"></script> -->
<script type="application/javascript" src="../../../../resources/js/user/pet_joinUser.js"></script>

