
        <div class="board shadow p-3 mb-5 bg-body rounded">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">제목</label>
                <input
                    type="text"
                    class="titlebox form-control"
                    id="formGroupExampleInput"
                    placeholder=""disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">작성자</label>
                <input
                    type="text"
                    class="namebox form-control"
                    id="formGroupExampleInput2"
                    placeholder=""disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">날짜</label>
                <input
                    type="text"
                    class="datebox form-control"
                    id="formGroupExampleInput2"
                    placeholder=""disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">내용</label>
                <div class="form-floating">
                    <textarea class="contentbox form-control" placeholder="" id="floatingTextarea2"disabled></textarea>
                </div>
            </div>
            <hr>
            <div class="comment">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">총 댓글 수 : 3개</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>홍길동</td>
                            <td class="sb-sidenav-collapse-arrow" style="width: 450px;">
                                가나다라마바사아자차카파타하가나다라마바사아자차카파타하가나다라마바사아자차카파타하
                            </td>
                            <td>22-04-20 17:58</td>
                            <td>
                                <button type="button" class="btn-close" aria-label="Close"></button>
                            </td>
                        </tr>
            
                        <tr>
                            <th scope="row">2</th>
                            <td>손오공</td>
                            <td class="sb-sidenav-collapse-arrow" style="width: 450px;">
                                댓글테스트2
                            </td>
                            <td>22-04-20 18:00</td>
                            <td>
                                <button type="button" class="btn-close" aria-label="Close"></button>
                            </td>
                        </tr>
            
                        <tr>
                            <th scope="row">3</th>
                            <td>사오정</td>
                            <td class="sb-sidenav-collapse-arrow" style="width: 450px;">
                                댓글테스트3
                            </td>
                            <td>22-04-20 18:03</td>
                            <td>
                                <button type="button" class="btn-close" aria-label="Close"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="form-floating">
                <textarea
                    class="commentbox form-control"
                    id="floatingTextarea2"></textarea>
                <label for="floatingTextarea2">댓글 작성</label>
            </div>
            <a class="btn btn-primary" href="#" role="button">댓글 등록</a>
            <hr>
            <a class="btn btn-secondary" href="./qna.html" role="button">목록으로</a>
            <a class="btn btn-secondary" href="./qna_rewrite.html" role="button" >수정</a>
            <a class="btn btn-danger" href="#" role="button">삭제</a>
            <a class="btn btn-primary" href="./qna_write.html" role="button">글 작성</a>
        </div>