<div class="getboard">
    <ul class="list-group">
        <span class="badge badge-pill badge-success" style="font-size: 20px; margin-bottom: 10px;">Q n A</span>
        <li class="list-group-item"onclick="location.href='./qna_board.html'">
            <div class="card mb-3" style="margin-top:10px;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="../../../../resources/img/다운로드.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">우리집 고양이가 이상해요</h5>
                            <p class="card-text">우리집 고양이가 밥을 안먹어요</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card mb-3" style="margin-top:10px;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="../../../../resources/img/_104454565_mary-mcgowan_caught-in-the-act_00001294.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">다람쥐 질문입니다.</h5>
                            <p class="textbox card-text">다람쥐는 간식으로 무엇을 줘야할까요?</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card mb-3" style="margin-top:10px;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="../../../../resources/img/다운로드 (1).jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">고양이 질문입니다.</h5>
                            <p class="card-text">고양이가 자꾸 밥을 안먹어요.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">이전</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">다음</a>
            </li>
        </ul>
    </nav>
</div>