<div class="getboard">
    <ul class="list-group">
        <span class="badge badge-pill badge-success" style="font-size: 20px; margin-bottom: 10px;">자 랑 하 기</span>
        <li class="list-group-item"onclick="location.href='./show_board.html'">
            <div class="card mb-3" style="margin-top:10px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../../resources/img/동물자랑1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">새끼를 낳았어요<h5>
                            <p class="card-text">귀엽죠?</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card mb-3" style="margin-top:10px;">
                <div class="row g-0">
                    <div class="imgbox col-md-4">
                        <img src="../../../../resources/img/동물자랑2.jfif"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">피카츄</h5>
                            <p class="textbox card-text">피카피카</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card mb-3" style="margin-top:10px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../../resources/img/동물자랑3.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">나는야 토냥이</h5>
                            <p class="card-text">새로 옷 샀어요.</p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">이전</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">다음</a>
            </li>
        </ul>
    </nav>
</div>