   <section>
        <div class="eidtor">
            <!--제목-->
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">제목</label>
                <input type="text" class="datebox form-control" maxlength="20" placeholder="" style="max-width: 300px;">
            </div>
            <!--날짜-->
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">날짜</label>
                <input type="text" class="datebox form-control" placeholder="" style="max-width: 300px;">
            </div>
            <!--내용-->
            <div>
                <label>내용</label>
                <textarea name="ir1" id="ir1" rows="10" cols="100" style="max-width: 650px;"></textarea>
            </div>

            <!--버튼-->
            <div>
                <a class="btn btn-success" href="show.html" role="button"  onclick="Ok();">등록</a>
                <a class="btn btn-danger" href="show.html" role="button" onclick="Cancel()">취소</a>
            </div>
        </div>

    </section>

    <script type="text/javascript" src="../../../../se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <script src="../../../../resources/js/user/write.js"></script>
    <script src="../../../../resources/js/user/qna_write.js"></script>