<div class="getboard">
    <span class="badge badge-pill badge-success" style="font-size: 20px; margin-bottom: 10px; width: 100%;">자 랑 하
        기</span>
    <div class="mainboard">
        <div class="card" style="width: 20rem;">
            <img src="/petCare/src/main/webapp/resources/img/동물자랑1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">제목</h5>
                <p class="card-text">내용</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">작성자 :
                </li>
                <li class="list-group-item">작성일 :
                </li>
            </ul>
            <div class="card-body btns">
                <a href="#" class="card-link">
                    <button type="button" class="btn btn-success btn-sm" onclick="location.href='show_board.html'">게시글
                        보기</button>
                </a>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img src="/petCare/src/main/webapp/resources/img/동물자랑1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">제목</h5>
                <p class="card-text">내용</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">작성자 :
                </li>
                <li class="list-group-item">작성일 :
                </li>
            </ul>
            <div class="card-body btns">
                <a href="#" class="card-link">
                    <button type="button" class="btn btn-success btn-sm">게시글 보기</button>
                </a>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img src="/petCare/src/main/webapp/resources/img/동물자랑1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">제목</h5>
                <p class="card-text">내용</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">작성자 :
                </li>
                <li class="list-group-item">작성일 :
                </li>
            </ul>
            <div class="card-body btns">
                <a href="#" class="card-link">
                    <button type="button" class="btn btn-success btn-sm" onclick="location.href='show_board.html'">게시글
                        보기</button>
                </a>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img src="/petCare/src/main/webapp/resources/img/동물자랑1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">제목</h5>
                <p class="card-text">내용</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">작성자 :
                </li>
                <li class="list-group-item">작성일 :
                </li>
            </ul>
            <div class="card-body btns">
                <a href="#" class="card-link">
                    <button type="button" class="btn btn-success btn-sm">게시글 보기</button>
                </a>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">이전</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">다음</a>
            </li>
        </ul>
    </nav>
</div>