<div class="getboard">
    <span class="badge badge-pill badge-success" style="font-size: 20px; margin-bottom: 10px; width: 100%;">자 랑 하
        기</span>
    <div class="mainboard">
        <div class="card"onclick="location.href='show_board.do'">
            <img src="/petCare/src/main/webapp/resources/img/동물자랑1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="rowpoint">
                <h5 class="card-title">우리집 강아지좀 보세요 </h5>
                <h6 class="look">LOOK 15</h6>
            </div>
                <p class="card-text">우리집 강아지 이름은 멍멍이에요 기엽죠?</p>
            </div>
            <ul class="list-group list-group-flush rowpoint" >
                <li class="list-group-item writer">WRITER :
                </li>
                <li class="list-group-item date">2022-05-01
                </li>
            </ul>
        </div>

        <div class="card"onclick="location.href='show_board.do'">
            <img src="/petCare/src/main/webapp/resources/img/동물자랑1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="rowpoint">
                <h5 class="card-title">우리집 강아지좀 보세요 </h5>
                <h6 class="look">LOOK 15</h6>
            </div>
                <p class="card-text">우리집 강아지 이름은 멍멍이에요 기엽죠?</p>
            </div>
            <ul class="list-group list-group-flush rowpoint" >
                <li class="list-group-item writer">WRITER :
                </li>
                <li class="list-group-item date">2022-05-01
                </li>
            </ul>
        </div>

        <div class="card"onclick="location.href='show_board.do'">
            <img src="/petCare/src/main/webapp/resources/img/동물자랑1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="rowpoint">
                <h5 class="card-title">우리집 강아지좀 보세요 </h5>
                <h6 class="look">LOOK 15</h6>
            </div>
                <p class="card-text">우리집 강아지 이름은 멍멍이에요 기엽죠?</p>
            </div>
            <ul class="list-group list-group-flush rowpoint" >
                <li class="list-group-item writer">WRITER :
                </li>
                <li class="list-group-item date">2022-05-01
                </li>
            </ul>
        </div>

        <div class="card"onclick="location.href='show_board.do'">
            <img src="/petCare/src/main/webapp/resources/img/동물자랑1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="rowpoint">
                <h5 class="card-title">우리집 강아지좀 보세요 </h5>
                <h6 class="look">LOOK 15</h6>
            </div>
                <p class="card-text">우리집 강아지 이름은 멍멍이에요 기엽죠?</p>
            </div>
            <ul class="list-group list-group-flush rowpoint" >
                <li class="list-group-item writer">WRITER :
                </li>
                <li class="list-group-item date">2022-05-01
                </li>
            </ul>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">이전</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">다음</a>
            </li>
        </ul>
    </nav>
</div>