<!DOCTYPE html>
<html lang="ko">
    <head>
        
        <!-- 제이쿼리 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

         <!--데이트 피커-->
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
        
        <!-- 부트스트랩 CDN 로드 : 항상 최신 버전 사용 : maxcdn -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

        <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/> -->

        <link href="../../../../resources/css/admin/ad_common.css" rel="stylesheet"/>
        <link href="../../../../resources/css/admin/styles.css" rel="stylesheet"/>
        <link href="../../../../resources/css/admin/morris.css" rel="stylesheet"/>
        <link href="../../../../resources/css/admin/ad_charts.css" rel="stylesheet"/>

    </head>
    <body class="sb-nav-fixed">
        <!--헤더 영역-->
        <div id="admin_header"></div>

                <main class="admin_main">
                    <!--본문영역-->
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">차트</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Charts</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header" style="white-space:nowrap">
                                <i class="fas fa-chart-area me-1"></i>
                                제휴 병원 등록
                                <input class="datepick" type="text" id="datepicker1">
                            </div>
                            <div class="card-body">
                                <canvas id="myAreaChart" width="100%" height="30"></canvas>
                            </div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header" style="white-space:nowrap">
                                <i class="fas fa-chart-bar me-1">></i>
                                게시글 활성도
                                <input class="datepick" type="text" id="datepicker2">
                            </div>
                            <div id="bar-example" style="width: 100%;"></div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                    </div>
                </main>

                <!--푸터-->
                <div id="admin_footer" class="footer_div"></div>
            </div>
        </div>
        <script src="../../../../resources/js/admin/ad_common.js"></script>
        
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>  
        <script src="../../../../resources/js/admin/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script> 
        <script src="../../../../resources/assets/demo/chart-area-demo.js"></script>
        <script src="../../../../resources/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="../../../../resources//js/admin/datatables-simple-demo.js"></script>
        <script src="../../../../resources/js/admin/morris.js"></script>
        <script src="../../../../resources/js/admin/raphael.min.js"></script>
        <script src="../../../../resources/js/admin/ad_charts.js"></script>

    
    </body>
</html>