<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ad_chart">
	<select id="getChartList"
		resultType="com.petcare.web.admin.vo.ChartVO">
		SELECT DATE_FORMAT(Singin_Member_date, '%Y%m%d') AS date,
		count(*) AS cnt FROM Member_Table where m_role = '1'
		and m_access = '0'
		GROUP BY DATE_FORMAT(Singin_Member_date, '%Y%m%d')
		ORDER BY date
	</select>
	<select id="getCommentChart"
		resultType="com.petcare.web.admin.vo.ChartVO">
		select DATE_FORMAT(c_date, '%Y%m%d') AS date2, count(*) AS
		commentcnt from Comment_Table where c_kind = '0' GROUP BY
		DATE_FORMAT(c_date, '%Y%m%d') ORDER BY date2
	</select>
	<select id="getFAQChart"
		resultType="com.petcare.web.admin.vo.ChartVO">
		select DATE_FORMAT(f_date, '%Y%m%d') AS date2, count(*) AS
		faqcnt from FAQ_Table GROUP BY DATE_FORMAT(f_date, '%Y%m%d') ORDER BY
		date2
	</select>
</mapper>