<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<select id="loginCheck" resultType="String">
		SELECT * FROM Admin_Table where ad_id = #{ad_id} and CONVERT(AES_DECRYPT(unhex(ad_pw), 'a') USING utf8) = #{ad_pw}
	</select>
	<select id="getAdmin" resultType="com.petcare.web.admin.vo.AdminVO">
		SELECT * FROM Admin_Table where ad_id = #{ad_id} and CONVERT(AES_DECRYPT(unhex(ad_pw), 'a') USING utf8) = #{ad_pw}
	</select>
	<select id="getUser" resultType="com.petcare.web.user.vo.MemberVO">
		select * from Member_Table where not m_role = '1'
	</select>
	<select id="getAccHospital" resultType="com.petcare.web.user.vo.MemberVO">
		select * from Member_Table where not m_role = '0' and not m_access = '1'
	</select>
	<select id="getUnAccHospital" resultType="com.petcare.web.user.vo.MemberVO">
		select * from Member_Table where not m_role = '0' and not m_access = '0'
	</select>
	<update id="AccHos" parameterType="String"> 
		update Member_Table set m_access = '0' where m_name = #{name}
	</update>
	<update id="DelHos" parameterType="String"> 
		delete from Member_Table where m_name = #{name}
	</update>
</mapper>