<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="MemberVO" type="com.petcare.web.user.vo.MemberVO" />
		<typeAlias alias="MypetVO"  type="com.petcare.web.user.vo.MyPetVO"/>
		<typeAlias alias="S3KeyVO"  type="com.petcare.web.user.vo.S3KeyVO"/>	
		<typeAlias alias="AdminVO"  type="com.petcare.web.admin.vo.AdminVO"/>
		<typeAlias alias="ShowVO"  type="com.petcare.web.user.vo.ShowVO"/>
		<typeAlias alias="ReservationVO"  type="com.petcare.web.user.vo.ReservationVO"/>

	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/S3Key.xml"/>
		<mapper resource="mapper/AdminMapper.xml"/>
		<mapper resource="mapper/user_MyPage.xml"/>
		<mapper resource="mapper/board.xml"/>
	</mappers>
</configuration>