<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="MemberVO" type="com.petcare.web.user.vo.MemberVO" />
		<typeAlias alias="S3KeyVO"  type="com.petcare.web.user.vo.S3KeyVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/S3Key.xml"/>
	</mappers>
</configuration>