<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="MemberVO" type="com.petcare.web.user.vo.MemberVO" />
		<typeAlias alias="MypetVO"  type="com.petcare.web.user.vo.MyPetVO"/>
		<typeAlias alias="S3KeyVO"  type="com.petcare.web.user.vo.S3KeyVO"/>	
		<typeAlias alias="AdminVO"  type="com.petcare.web.admin.vo.AdminVO"/>
		<typeAlias alias="ShowVO"  type="com.petcare.web.user.vo.ShowVO"/>
		<typeAlias alias="ReservationVO" type="com.petcare.web.user.vo.ReservationVO"/>
		<typeAlias alias="CommentVO" type="com.petcare.web.user.vo.CommentVO"/>
		<typeAlias alias="QnaVO" type="com.petcare.web.user.vo.QnaVO"/>
		<typeAlias alias="Ad_boardVO" type="com.petcare.web.admin.vo.Ad_boardVO"/>
		<typeAlias alias="Ad_encyVO" type="com.petcare.web.admin.vo.Ad_encyVO"/>
		<typeAlias alias="ChartVO" type="com.petcare.web.admin.vo.ChartVO"/>
		<typeAlias alias="HospitalVO" type="com.petcare.web.user.vo.HospitalVO"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/S3Key.xml"/>
		<mapper resource="mapper/AdminMapper.xml"/>
		<mapper resource="mapper/user_MyPage.xml"/>
		<mapper resource="mapper/board.xml"/>
		<mapper resource="mapper/Partner_MyPage.xml"/>
		<mapper resource="mapper/Kakao_login.xml"/>
		<mapper resource="mapper/Qna.xml"/>
		<mapper resource="mapper/Ad_BoardMapper.xml"/>
		<mapper resource="mapper/Home.xml"/>
		<mapper resource="mapper/Ad_ChartMapper.xml"/>
		<mapper resource="mapper/HospitalMapper.xml"/>
	</mappers>
</configuration>